<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./css/style.css">
  <title>naTarajan</title>
</head>

<body>
  <header class="menu">
    <ul class="menu-logos">
      <li class="natarajan-logo">
        <img src="./img/naTarajan.png" alt="">
      </li>
      <li class="triangulo-logo">
        <img src="./img/Group1.png" alt="">
      </li>
    </ul>
    <div class="menu-button">
      <img src="./img/Group3.png" alt="">
    </div>
  </header>

  <section class="vivamus">
    <h1>Vivamus suscipit tortor eget felis porttitor volutpat. Mauris blandit aliquet elit</h1>
    <div class="vivamus-img">
      <img src="./img/jordan-mcgee-Ev4U6ieA4zA-unsplash.png" alt="">
    </div>
    <p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Nulla quis lorem ut libero malesuada feugiat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porttitor accumsan tincidunt. Vivamus suscipit tortor eget felis porttitor volutpat. Proin eget tortor risus. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
  </section>

  <section class="tempus">
    <div class="woman-tempus">
      <img src="./img/elia-pellegrini-gkRK8zthbB8-unsplash.png" alt="">
    </div>
    <div class="info-tempus">
      <h2>tempus convallis quis ac lectus.</h2>
      <p>vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. nulla quis lorem ut libero malesuada feugiat. vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. lorem ipsum dolor sit amet, consectetur adipiscing elit. nulla porttitor accumsan tincidunt. vivamus suscipit tortor eget felis porttitor volutpat. proin eget tortor risus. vivamus suscipit tortor eget felis porttitor volutpat. mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
    </div>
    <div class="info-blackwoman">
      <p>vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. nulla quis lorem ut libero malesuada feugiat. vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. lorem ipsum dolor sit amet, consectetur </p>
    </div>
    <div class="blackwoman-tempus">
      <img src="./img/oladimeji-odunsi-vfDpptxFrbQ-unsplash.png" alt="">
    </div>
    <ul class="modelos-tempus">
      <li class="tyrel-james-tempus">
        <img src="./img/tyrell-james-e3a_7uD7yS8-unsplash.png" alt="">
      </li>
      <li class="oladimeji-pv2-tempus">
        <img src="./img/oladimeji-odunsi-pV2Kw7Tts14-unsplash.png" alt="">
      </li>
      <li class="oladimeji-tempus">
        <img src="./img/oladimeji-odunsi-cLP5qmKvehY-unsplash.png" alt="">
      </li>
    </ul>
    <ul class="info">
      <li>
        <p>vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. nulla quis lorem ut libero malesuada feugiat. vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. lorem ipsum dolor sit amet, consectetur adipiscing elit. nulla </p>
      </li>
      <li>
        <p>vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. nulla quis lorem ut libero malesuada feugiat. vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. lorem ipsum dolor sit amet, consectetur adipiscing elit. nulla </p>
      </li>
    </ul>
    <ul class="natarajan-logos-tempus">
      <li><img src="./img/naTarajan-1.png" alt=""></li>
      <li><img src="./img/Group2.png" alt=""></li>
    </ul>
  </section>
  <footer class="footer">
    <nav class="navigation">
      <ul>
        <li>
          <h3>Shop</h3>
        </li>
        <li><a href="#">Women</a></li>
        <li><a href="#">Divided</a></li>
        <li><a href="">Men</a></li>
        <li><a href="">Kids</a></li>
        <li><a href="#">naTarajan HOME</a></li>
        <li><a href="#">Student Discount</a></li>
      </ul>

      <ul>
        <li>
          <h3>Corporate info</h3>
        </li>
        <li><a href="#">Career at naTarajan</a></li>
        <li><a href="#">About Natarajan</a></li>
        <li><a href="#">Sustainability</a></li>
        <li><a href="#">Press</a></li>
        <li><a href="#">Investor Relations</a></li>
        <li><a href="#">Corporate Governance</a></li>
      </ul>

      <ul>
        <li>
          <h3>Help</h3>
        </li>
        <li><a href="#">Customer Service</a></li>
        <li><a href="#">My Account</a></li>
        <li><a href="#">Find a Store</a></li>
        <li><a href="#">Legal & Privacy</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Gift Card</a></li>
        <li><a href="#">CA Supply Chains Act</a></li>
      </ul>

      <ul>
        <li>
          <h3>Become a Member</h3>
        </li>
        <li><a href="#">Join now and get 10% off your next purchase!</a></li>
      </ul>
    </nav>
    <p>The content of this site is copyright-protected and is the property of H&M Hennes & Mauritz AB. H&M is committed to accessibility. That <br> commitment means H&M embraces WCAG <br>
      READ MORE</p>

    <ul class="redes-socias">
      <li>
        <a href="http://facebook.com" target="_blank" rel="noopener noreferrer">
          <img src="./img/facebook-circular-logo.png" alt="">
        </a>
      </li>
      <li>
        <a href="http://youtube.com" target="_blank" rel="noopener noreferrer">
          <img src="./img/youtube.png" alt="">
        </a>
      </li>
      <li>
        <a href="http://instagram.com" target="_blank" rel="noopener noreferrer">
          <img src="./img/instagram.png" alt="">
        </a>
      </li>
      <li>
        <a href="http://twitter.com" target="_blank" rel="noopener noreferrer">
          <img src="./img/twitter.png" alt="">
        </a>
      </li>

    </ul>
  </footer>

</body>

</html>