<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/grid.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>naTarajan</title>
</head>

<body>
  <header class="container clearfix">
    <a class="menu-logo-left-1 grid-2" href="#">
      <img src="./img/naTarajan.png" alt="natarajan">
    </a>
    <a class="menu-logo-left-2 grid-1" href="#">
      <img src="./img/Group1.png" alt="Group 1">
    </a>
    <a class="menu-right-lista " href="#">
      <img src="./img/Group3.png" alt="Group 3">
    </a>
  </header>

  <main class="paraquedista container clearfix">

    <h1 class="grid-12">Vivamus suscipit tortor eget felis porttitor volutpat. Mauris blandit</h1>
    <div class="grid-12">
      <img src="./img/jordan-mcgee-Ev4U6ieA4zA-unsplash.png" alt="Mulher com roupa de paraquedista, sentada na grama alta.">
    </div>
    <div class="grid-12">
      <p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Nulla quis lorem ut libero malesuada feugiat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porttitor accumsan tincidunt. Vivamus suscipit tortor eget felis porttitor volutpat. Proin eget tortor risus. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur non nulla sit</p>
    </div>
  </main>

  <section class="sessao container clearfix">
    <div class="container clearfix">
      <div class="grid-6">
        <img src="./img/elia-pellegrini-gkRK8zthbB8-unsplash.png" alt="Elia Pellegrini ao telefone, ao lado de uma luminária.">
      </div>
      <div class="telefone grid-6">
        <h2>tempus convallis quis ac lectus.</h2>
        <p>vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. nulla quis lorem ut libero malesuada feugiat. vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. lorem ipsum dolor sit amet, consectetur adipiscing elit. nulla porttitor accumsan tincidunt. vivamus suscipit tortor eget felis porttitor volutpat. proin eget tortor risus. vivamus suscipit tortor eget felis porttitor volutpat. mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
      </div>
    </div>
    <div class="container clearfix">
      <div class="mulher-negra grid-6">
        <p>vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. nulla quis lorem ut libero malesuada feugiat. vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. lorem ipsum dolor sit amet, consectetur.</p>
      </div>
      <img class="grid-6" src="./img/oladimeji-odunsi-vfDpptxFrbQ-unsplash.png" alt="Mulher negra com roupas na cor dourada">
    </div>

    <ul class="beleza-natural">
      <li>
        <img class="grid-4" src="./img/tyrell-james-e3a_7uD7yS8-unsplash.png" alt="Tyrell James">
      </li>
      <li>
        <img class="grid-4" src="./img/oladimeji-odunsi-pV2Kw7Tts14-unsplash.png" alt="Tyrell James">
      </li>
      <li>
        <img class="grid-4" src="./img/oladimeji-odunsi-cLP5qmKvehY-unsplash.png" alt="Tyrell James">
      </li>
    </ul>

    <div class="beleza-natural-info container clearfix">
      <p class="grid-5">vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. nulla quis lorem ut libero malesuada feugiat. vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. lorem ipsum dolor sit amet, consectetur adipiscing elit. nulla </p>

      <p class="grid-5 ">vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. nulla quis lorem ut libero malesuada feugiat. vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. lorem ipsum dolor sit amet, consectetur adipiscing elit. nulla </p>
    </div>
  </section>

  <div class="logomarca container clearfix">
    <div class="grid-4">
      <img src="./img/naTarajan-1.png" alt="natarajan">
    </div>
    <div class="grid-1">
      <img src="./img/Group2.png" alt="logomarca">
    </div>
  </div>

  <footer class="container clearfix">
    <div class="container clearfix">
      <nav class="navegacao grid-12">
        <div class="grid-2">
          <h3>Shop</h3>
          <ul>
            <li><a href="#">Women</a></li>
            <li><a href="#">Divided</a></li>
            <li><a href="#">Men</a></li>
            <li><a href="#">Kids</a></li>
            <li><a href="#">natarajan HOME</a></li>
            <li><a href="#">Student Dicount</a></li>
          </ul>
        </div>
        <div class="grid-2">
          <h3>Corporate info</h3>
          <ul>
            <li><a href="#">Career at naTaraja</a></li>
            <li><a href="#">About Natarajan</a></li>
            <li><a href="#">Sustainability</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Investor Relations</a></li>
            <li><a href="#">Corporate Governance</a></li>
          </ul>
        </div>
        <div class="grid-2">
          <h3>Help</h3>
          <ul>
            <li><a href="#">Customer Service</a></li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Find a Store</a></li>
            <li><a href="#">Legal & Privacy</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Gift Card</a></li>
            <li><a href="#">CA Supply Chains Act</a></li>
          </ul>
        </div>
        <div class="grid-2">
          <h3>Become a Member</h3>
          <ul>
            <li><a href="#">Join now and get 10% off your next purchase!</a></li>
          </ul>
        </div>
      </nav>

      <p class="copyright">
        The content of this site is copyright-protected and is the property of H&M Hennes & Mauritz AB. H&M is committed to accessibility. That commitment means H&M embraces WCAG
        READ MORE
      </p>

    </div>
    <ul class="redes-socias">
      <li><a href="#"><img src="./img/facebook-circular-logo.png" alt="Facebook logo"></a></li>
      <li><a href="#"><img src="./img/youtube.png" alt="Youtube logo"></a></li>
      <li><a href="#"><img src="./img/instagram.png" alt="Instagram logo"></a></li>
      <li><a href="#"><img src="./img/twitter.png" alt="Twitter logo"></a></li>
    </ul>
  </footer>
</body>

</html>