@font-face {
  font-family: "Tranjan Pro";
  src: url(./fonts/trajan-pro.otf);
}

body {
  font-family: "Tranjan Pro", serif;
  font-weight: bold;
  color: #707070;
}

/* HEADER */

.menu {
  margin-top: 60px;
  margin-bottom: 130px;
}

.menu .menu-logo-right {
  float: right;
  margin-right: 8px;
}

/* INTRO */

.intro h1 {
  font-size: 5.4375em;
  margin-bottom: 37px;
}

.intro img {
  margin-bottom: 68px;
}

.intro p {
  width: 1593px;
  margin-bottom: 68px;
  line-height: 46px;
}

/* RANDON */

/* RANDON TELFONE */
.randon .telefone h2 {
  font-size: 2.375em;
  margin-bottom: 46px;
  line-height: 40px;
}

.randon .telefone p {
  width: 733px;
  font-size: 1.1875em;
  text-transform: lowercase;
  line-height: 40px;
}

.telefone .reposicionar-title {
  position: relative;
  top: 250px;
}

.telefone .reposicionar p {
  position: relative;
  top: 250px;
  font-size: 1.1875em;
}

/* RANDON TYRELL */

/* RANDON OLADIMEJI */

.oladimeji {
  margin-bottom: 99px;
}

.oladimeji p {
  line-height: 40px;
  position: relative;
  top: 400px;
}

/* RANDON INFO */

.randon-info {
  display: flex;
  justify-content: center;
}

.randon-info p {
  margin-top: 106px;
}

/* LOGOS */

.logo-randon {
  display: flex;
  justify-content: center;
  margin-top: 115px;
}

.natarajan-logos::after {
  content: "";
  display: block;
  width: 1364px;
  height: 2px;
  background-image: url(../img/Rectangle3.png);
  margin: 59px auto 63px auto;
}

/* FOOTER */

.navegacao {
  display: flex;
  justify-content: center;
  margin-bottom: 97px;
}

.navegacao h3 {
  margin-bottom: 57px;
}

.navegacao .ancoras li a {
  padding-bottom: 40px;
  display: inline-block;
  color: #707070;
}

.copyright {
  text-align: center;
  font-size: 0.875em;
  width: 992px;
  margin: 0 auto;
}

/* REDES SOCIAIS */

.redes-socias {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.redes-socias li {
  margin-left: 33.7px;
}

/* MEDIA QUERIES */

@media (max-width: 1640px) {
  .intro h1 {
    font-size: 2.71875em;
    margin-bottom: 37px;
  }

  .intro p {
    width: 1190px;
    margin-bottom: 68px;
    line-height: 46px;
  }

  .randon .telefone p {
    width: 510px;
    font-size: 0.9em;
    text-transform: lowercase;
    line-height: 26px;
  }

  .telefone .reposicionar p {
    position: relative;
    top: 250px;
    left: 0px;
  }

  .oladimeji p {
    line-height: 40px;
    position: relative;
    top: 305px;
  }

  .natarajan-logos::after {
    content: "";
    display: block;
    width: 980px;
    height: 2px;
    background-image: url(../img/Rectangle3.png);
    margin: 59px auto 63px auto;
  }
}
