@font-face {
  font-family: "Tranjan Pro";
  src: url(./fonts/trajan-pro.otf);
}

body {
  font-family: "Tranjan Pro", serif;
  font-weight: bold;
  color: #707070;
}

/* HEADER */

.menu {
  max-width: 1640px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
}

.menu-logos {
  flex: 1;
  display: flex;
}

.menu-logos .natarajan-logo {
  padding-right: 30px;
}

@media (max-width: 400px) {
  .menu {
    flex-direction: column;
    align-content: center;
  }

  .menu-logos .natarajan-logo {
    padding-right: 0px;
  }

  .menu-button {
    margin: 10px auto;
    order: -1;
  }
}

@media (max-width: 1645px) {
  .menu {
    margin-left: 8px;
    margin-right: 8px;
  }
}

/* VIVAMUS */

.vivamus {
  max-width: 1640px;
  margin: 0 auto 78px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.vivamus h1 {
  font-size: 5.4375em;
  margin-bottom: 30px;
  font-weight: bold;
}

.vivamus p {
  font-size: 2.125em;
  font-weight: bold;
  margin-top: 68px;
  margin-left: 8px;
}

@media (max-width: 400px) {
  .vivamus h1 {
    font-size: 1.5em;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
  }

  .vivamus p {
    font-size: 1em;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 30px;
    text-align: center;
  }
}

@media (max-width: 1645px) {
  .vivamus h1,
  .vivamus p {
    margin-left: 8px;
    margin-right: 8px;
  }

  .vivamus h1 {
    font-size: 2.4375em;
    text-align: center;
  }

  .vivamus p {
    font-size: 1.125em;
    margin-top: 20px;
    text-align: center;
  }
}

/* TEMPUS */

.tempus {
  max-width: 1640px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.woman-tempus {
  flex: 1 1 calc(41.666% - 16px);
  margin: 0 16px;
}

.info-tempus {
  flex: 1 1 calc(50% - 16px);
  margin: 0 16px;
  align-self: center;
}

.info-tempus h2 {
  font-size: 2.375em;
  margin-bottom: 46px;
}

.info-tempus p {
  font-size: 1.1875;
  text-transform: lowercase;
  max-width: 733px;
  line-height: 25px;
}

@media (max-width: 854px) {
  .woman-tempus {
    flex: 1 1 calc(100% - 16px);
    margin: 0 16px;
  }

  .info-tempus {
    flex: 1 1 calc(100% - 16px);
    margin: 0 16px;
    align-self: center;
  }

  .info-tempus h2 {
    margin-top: 30px;
    font-size: 1.5em;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
  }

  .info-tempus p {
    font-size: 1em;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
  }
}

/* BLACKWOMAN */
